{% extends "main.html" %}

{% block content %}

<div class="row">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-offset-1">
                <img src="{{ url_for('static', filename=supermarket.picture) }}" width="1000px" height="250px"/>
            </div>
        </div>
        <h1>{{ supermarket.name }}
            <small>by: {{supermarket.user.name}}</small>
        </h1>
        <p>{{ supermarket.address }}</p>

    </div>
</div>

<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>Add Product</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
        <form action="{{ url_for('addproduct',supermarket_id = supermarket.id) }}" method="Post"
              enctype="multipart/form-data">
            <div class="form-group">
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <label>Name:</label>
                <input type="text" class="form-control" maxlength="100" name="name">
                <label>Price:</label>
                <input type="text" class="form-control" maxlength="100" name="price">
                <label>details:</label>
                <textarea class="form-control" maxlength="100" name="details"></textarea>
                <label>Choose Market picture</label>
                <input type="file" name="file"/>
                <br>
                <button type="submit" class="btn btn-primary" id="submit" type="submit">Add Product</button>
                <a href="{{ url_for('Home') }}">
                    <button type="button" class="btn btn-default">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}