<!DOCTYPE html>
<html lang="en">
<head>
    <title>Y-Markets</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href=" {{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>

    <script src="//apis.google.com/js/platform.js?onload=start"></script>

    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Y-Markets</a>
            </div>
            <ul class="nav navbar-nav">

                {% if loggedin %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('addmarket') }}">Add Supermarket</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<div class="container">


    <div class='flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </div>


    {% block content %}
    {% endblock %}
</div>
</body>
</html>